{% extends 'base.html' %}

{% block bodyblock %}

<div class="container">
    <br><br>
    <h3 class="display-6">
        Face Recognition Web App Project
    </h3>
    <br>
    <p>
        It's Gender Classification <br>
        Mainly method : <br>
        - First use opencv to detect face then normalize and flatte <br>
        - Second relative position to calculate mean<br>
        - Third the photo subtract mean face then detect<br>
        <br> only use 7000 male and 7000 female photos for training
    </p>

</div>


{% endblock %}